.container
{
    width: 550px;
    margin: auto;
    margin-top: 150px;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-family: Helvetica;
}

.txtPrincipal
{
    font-size: 100px;
}

.txtSecundario
{
    font-size: 20px;
}

span
{
    width: 100px;
}

body
{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.ColStyle {
  background-color: #000000;
  color: white;
}
.logo {
  width: 60%;
  height: 40px;
}